<!--
.. title: Investigating & Archiving the Scholarly Git Experience
.. slug: index
.. date: 2018-11-05 14:28:00 UTC-04:00
.. hidetitle: True
.. description: Homepage for our Sloan-funded project to investigate and archive git materials.
.. type: text
-->

<!DOCTYPE html>
<html lang="en">
 <body>
     
       <div class="alert alert-dismissible alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>The IASGE survey is live!</strong> Consider taking our <a href="https://nyu.qualtrics.com/jfe/form/SV_5ArtYnx6kWMXYNv" class="alert-link">~5 minute survey</a> about your practices with git and source code hosting platform!
       </div>

       <div class="jumbotron">
          <h1 class="display-4">Investigating & Archiving the Scholarly Git Experience <img src="images/investigate-git.png"></h1>
          <p class="lead">An Alfred P. Sloan Foundation <a href="https://sloan.org/grant-detail/8723">funded project</a> that seeks to investigate the scholarly git experience, and inform the way code and annotations on Git hosting platforms can be made stable, permanently citable, and under active preservation following an established and accepted workflow. </p>
      </div>
      
      <div class="card-deck">
        <div class="card mb-3 bg-secondary">
            <h4 class="card-header">Latest Updates <i class="fas fa-pencil-alt"></i></h4>
            <div class="card-body">
            {{% post-list stop=4 %}}{{% /post-list %}}
            </div>
            <p class="card-text text-muted card-footer"><a href="/updates/">Read more from us <i class="fas fa-angle-double-right"></i></a></p>
        </div>
        <div class="card mb-3 bg-secondary">
            <h4 class="card-header">Weekly Readings <i class="fas fa-book-reader"></i></h4>
            <div class="card-body">
            <ul>
              <li><a href="https://arxiv.org/abs/1908.05986">FAIR and Open Computer Science Research Software</a></li>
              <li><a href="https://peekaboo-vision.blogspot.com/2020/01/dont-fund-software-that-doesnt-exist.html">Don't fund Software that doesn't exist</a></li>
              <li><a href="http://www.walkingrandomly.com/?p=6653">Academic Benefits of Using git and GitHub</a></li>
              <li><a href="https://zenodo.org/record/3378572#.XcA5BEVKhBw">Raising the Profile of Research Software</a></li>
            </ul>
            </div>
            <p class="card-text text-muted card-footer"><a href="/reading-list/">See full reading list <i class="fas fa-angle-double-right"></i></a></p>
        </div>
        <div class="card mb-3 bg-secondary">
            <h4 class="card-header">#IASGE <i class="fab fa-twitter"></i></h4>
            <div class="card-body">
              <p lang="en" dir="ltr">✨FIRST <a href="https://twitter.com/hashtag/IASGE?src=hash&amp;ref_src=twsrc%5Etfw">#IASGE</a> BLOG POST OF 2020 ✨ in which <a href="https://twitter.com/snewyuen?ref_src=twsrc%5Etfw">@snewyuen</a> describes how Continuous Integration ♾ can be used for quality assurance in research workflows. Check it out: <a href="https://t.co/suUT6ZLuXc">https://t.co/suUT6ZLuXc</a></p>&mdash; Vicky Steeves (<a href="https://twitter.com/VickySteeves">@VickySteeves</a>) <a href="ttps://twitter.com/VickySteeves/status/1241062265064960000">2020-03-20</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
            </div>
            <p class="card-text text-muted card-footer"><a href="https://twitter.com/search?q=%23IASGE&src=recent_search_click&f=live">Scroll all #IASGE tweets<i class="fas fa-angle-double-right"></i></a></p>
        </div>
        </div>
           
 </body>
</html>
